<!DOCTYPE html>
<html>
<header>
  <title>Album Server Version v1.0</title>
  <link rel="stylesheet" href="stylesheets/album.css">

</header>

<body>
<div class="container">
  <header>
    <hgroup>
      <h4>Album Name<span class="album-title">&nbsp;&nbsp;&nbsp;&nbsp; default</span></h4>
    </hgroup>

  </header>


  <div class="content">
    <div class="box left">
      <ul class="album-list">
        <!--<li class="album">-->
          <!--<a href="#" class="album-link">default</a>-->
          <!--<button class="btn-del-album">X</button>-->
        <!--</li>-->
        <% photoName.forEach(phn=>{ %>
          <li class="album">
          <a href="/album1/<%=phn%>" class="album-link"><%=phn%></a>
          <button class="btn-del-album">X</button>
          </li>
        <% }) %>


      </ul>
    </div>

    <div class="box display">
      <div class="button-grp">
        <form class="form-addname" action="/album1/addPhotoName" method="post">
          <input id="new-alb" type="text" placeholder="Album Name" name="new-album">
          <input type="submit" value="Go~">
        </form>
        <form class="form-addphoto" action="/album1/addPhotos" method="post" enctype="multipart/form-data">
          <!--<label for="add-file">+ Add Photo</label>-->
          <input id='add-file' type="file" name="singlePhoto">
          <input type="submit" value="GoGo~">
        </form>
      </div>

      <div class="wrapper">
        <div class="photo-list show">

        </div>
      </div>

      <nav>
        <ul>
          <li><a>First</a></li>
          <!--<li><a>1</a></li>-->
          <li><a>Last</a></li>
        </ul>
      </nav>
    </div>


  </div>



  <footer>
  </footer>
</div>

</body>
</html>