<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!--<form action="/upload" method="post" enctype="multipart/form-data">-->
      <!--<input type="file" name="singleFile" value="">-->
      <!--<input type="submit" value="submit">-->
    <!--</form>-->

    <div class="photos">
        <%list.forEach(imgname=>{ %>
          <img src="/img/<%=imgname%>" alt="photos">
        <%})%>
    </div>
    <script type="text/javascript">
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function(){
        if(xhr.status===400 && xhr.readyState===4){
          xhr.response
        }
      }
      xhr.open("post", "/upload");
      xhr.send();
    </script>

  </body>
</html>
