$bgColor_1: aquamarine;
$bgColor_2: darkcyan;

*{
  font-family: "Helvetica", "Heiti SC", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}



body>.container{
  margin: 0 auto;
  border: #333;
  border-radius: 15px;
  max-width: 1018px;
  min-width: 400px;
  min-height: 500px;
  border-left: 40px solid aquamarine;
  border-radius: 20px;



  hr{
    height: 2px;
    background: #ccc;
    opacity: 0.8;
    margin-bottom: 0;
  }

  >header{
    background:  linear-gradient( to right, $bgColor_1, $bgColor_2);

    .heading{
      font-weight: bold;
      color: #fff;
      padding: 0 15px;

      @media (max-width: 600px) {
        h4{
          display: none;
        }
        >hr{
          display: none;
        }
      }
    }

    span.description{
      padding-left: 15px;
      font-size: 13px;
      color: #aaa;
    }
  };

  >.main{
    min-height: 500px;
    padding-right: 150px;
    position: relative;

    .block{
      display: block;
    }

    >nav{
      height: 40px;
      background: linear-gradient(to right, $bgColor_1, $bgColor_2);

      a{
        text-decoration: none;
        font-size: 15px;
        font-weight: 100;
        line-height: 40px;
        padding: 15px;
        color: #fff;
        transition: color 1s, linear 0.2s;
      }

      >ul{
        @media(max-width: 600px){
          display: none;
          height: auto;
          width: auto;
        }

        >li{
          display:inline-block;
          position: relative;
          &:nth-child(3){
            &:hover{
              >.dropdown-1{
                display: block;
              }
            }
          }

          >a{
            text-decoration: none;
            font-size: 15px;
            font-weight: 100;
            line-height: 40px;
            padding: 15px;
            color: #fff;
            transition: color 1s, linear 0.2s;
            &:hover{
              color:#555;
              text-decoration: underline;
            }
          }

          @media(max-width: 600px){
            display:block;
            position: relative;
          }
        }
      }
      .dropdown-1{
        display:none;
        background: darkcyan;
        padding-left: 10px;
        position: absolute;
        width: 100px;
        @media(max-width: 600px){
          position: absolute;
          left: 100px;
          top: -10px;
        }
        >li{
          position: relative;
          &:nth-child(1){
            &:hover{
              >.dropdown-2-1{
                display: block;
              }
            }
          }
          &:nth-child(2){
            &:hover{
              >.dropdown-2-2{
                display: block;
              }
            }
          }
          &:nth-child(3){
            &:hover{
              >.dropdown-2-3{
                display: block;
              }
            }
          }
          @media(max-width: 600px){
            display: block;
          }
        }

        .inner-dropdown{
          display:none;
          background: linear-gradient(to right, $bgColor_2, $bgColor_1);
          padding-left: 10px;
          position: absolute;
          width: 100px;
          left: 100px;
          top: 0;
        }
      }
      .active{
        display: none;
        @media(max-width: 600px){
          display: block;
        }
      }

      @media(max-width:600px){
        display: block;
        width: auto;
        height: auto;
        }
      }


    >.product{
      width: auto;
      min-height: 400px;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      float: left;
      >h2{
        width: 100%;
        padding-left:10px;
        margin-top: 10px;
        line-height: 30px;
        color: #aaa;
      }
      >div{
        background: #ccc;
        height: 150px;
        width: 150px;
        margin: 15px;
        box-sizing: content-box;
      }
      >.list{
        >h4{
          padding: 2px 5px;
          color: #fff;
        }
        >p{
          padding: 2px 5px;
          color: #fff;
          font-size: 13px;
        }
        @media(max-width: 600px){
          display: block;
          position: relative;
        }
      }

    }
    >.right{
      float: left;
      height: 200px;
      width: 150px;
      border: 1px solid crimson;
      background: linear-gradient(to right, #2c70dd, #aaaaaa);
      box-sizing: border-box;
      margin-left: -150px;
      position: relative;
      left: 150px;
    }
    &::after{
      content: "";
      display: block;
      clear: both;
    }

  }

  >footer{
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    >div {
      background: linear-gradient(to right,$bgColor_1, $bgColor_2);
      min-height: 200px;
      min-width: 300px;
      width: 33.33%;
      text-align: center;

      img{
        position: relative;
        top: 20px;
      }
      p{
        position: relative;
        bottom: -20px;
      }
    }
  }



}